*{
    font-family: Roboto;
    background-color: #fff;
    color: #111;
    padding: 0px;
    border-color: #d1d5dbc4;
    border-radius: 8px;
    text-decoration: none;
    
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

#logout{
    width: 90px;
    height: 35px;
    font-weight: 600;
}

#logout a{
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.main-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-btn button{
    height: 80px;
    width: 500px;
    font-size: 35px;
    
}

button{
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button:hover {
    background-color:#e0f2fe;
    a{
        background-color:#e0f2fe;
    }
}