*{
    font-family: Roboto;
    background-color: #fff;
    color: #111;
    padding: 0px;
    border-color: #d1d5dbc4;
    border-radius: 8px;
    text-decoration: none;
    
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

form{
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    height: 270px;
    width: 435px;
    margin: 20px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
button:hover {
    background-color:#e0f2fe;
    a{
        background-color:#e0f2fe;
    }
}
